input[type=button]{
    padding: 1px;
    border: 1px solid black;
    color: yellow;
    transition: 500ms;
    background-color:#131b32 ;
    margin: 5px;

}
input:hover{
    background-color: yellow ;
}